<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<p><%= @user.description %></p>
<p><%= @user.email %></p>
<h2>Événements créés</h2>
<ul>
  <% @events.each do |event| %>
    <li><%= link_to event.title, event_path(event) %></li>
  <% end %>
</ul>
<%= link_to 'Éditer le profil', edit_user_registration_path %>
<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
