<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <%= render 'projectbootswatch/navbar' %>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <title><%= content_for(:title) || "Eventbrite A" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>

  <body>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Eventbrite Clone</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>
          <li class="nav-item"><a class="nav-link" href="/events/new">Créer un événement</a></li>
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mon profil
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/users/<%= current_user.id %>">Profil</a>
                <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                S'inscrire / Se connecter
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "S'inscrire", new_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/4/5/5/5/5/5/5/5/5/5/5/5/5/5" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkM+8f8Bnc+g+Q4pFSJpSauuuCynIkp+IlRXp+BO9ylH/4e1R+zN" crossorigin="anonymous"></script>

    <link rel="manifest" href="/manifest.json">
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js')
          .then(() => console.log('Service Worker enregistré.'))
          .catch((error) => console.error('Erreur Service Worker :', error));
      }
    </script>

    <%= yield %>
    <script src="https://js.stripe.com/v3/"></script>
    <button id="checkout-button">Payer maintenant</button>

            <script>

        const stripe = Stripe("<%= ENV['STRIPE_PUBLIC_KEY'] %>");
        document.getElementById("checkout-button").addEventListener("click", () => {
          fetch("/create-checkout-session", {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            }
          })
          .then(res => res.json())
          .then(data => {
            stripe.redirectToCheckout({ sessionId: data.id });
          });
        });
        </script>
            <script src="https://js.stripe.com/v3/"></script>


  </body>
<%=render 'projectbootswatch/footer' %>
</html>